/[Bb]in/
/[Oo]bj/
/[Dd]ebug/
/[Rr]elease/
[Dd]ebug/
[Rr]elease/
*.log
*.suo
*.user
*.userprefs
*.usertasks
.vs/

[Pp]ackages/
*.nupkg

appsettings.Development.json
appsettings.Local.json
*.usersecrets

.dockerignore
.env
!.env.example

/pgdata/
/postgres-data/
*.db
*.sql
*.mdf
*.ldf


.generated/
*.design.cs